<div class="hero communityTabs">
</div>
<div class="content">
	<div class="container">
	</div>
</div>

<div class="container bithub">
	<a class="next" href="http://bithub.com">Content from Bithub.com </a>
</div>